.header-link {
    font-weight: 200;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}

.traditional-title {
    font-weight: 200;
    font-size: 70px;
    line-height: 1,06;
    color: #FFFFFF;
}

.traditional-text-box {
    font-weight: 300;
    font-size: 21px;
    line-height: 1,19;
    color: #FFFFFF;
}

.traditional-button {
    font-weight: 300;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
    background: #B47B48;
    border-radius: 17px;
}

.traditional-price {
    font-weight: 200;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}

.traditional-product {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    color: #FFFFFF;
}

.traditional-list-button {
    font-weight: 900;
    font-size: 16px;
    line-height: 1,18;
    color: #FFFFFF;
    background: #B47B48;
    border-radius: 17px;
}

.Menu-title {
    font-weight: 100;
    font-size: 64px;
    line-height: 1,20;
    color: #FFFFFF;
}

.Menu-Breads {
    font-weight: 800;
    font-size: 25.92px;
    line-height: 1,19;
    color: #FFFFFF;
}

.Menu-button {
    font-weight: 800;
    font-size: 25.92px;
    line-height: 1,19;
    color: #FFFFFF;
    background: #B47B48;
    border-radius: 17px;
}

.Quality-title {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 64px;
    line-height: 1,17;
    color: #FFFFFF;
}
.Quality-text-box {
    font-weight: 500;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}

.bakery-title {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 1,2;
    line-height: 1,18;
    color: #D9D9D9;
}

.bakery-Order {
    font-weight: 700;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}
.Where-title {
    font-family: 'Italiana';
    font-weight: 400;
    font-size: 1,2;
    line-height: 1,18;
    color: #FFFFFF;
}
.Where-How {
    font-weight: 400;
    font-size: 40px;
    line-height: 1,2;
    color: #FFFFFF;
}

.Where-text-box {
    font-weight: 300;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}

.artisax-title {
    font-weight: 200;
    font-size: 40px;
    line-height: 1,2;
    color: #FFFFFF;
}

.artisax-about {
    font-weight: 300;
    font-size: 24px;
    line-height: 1,20;
    text-align: center;
    color: #FFFFFF;
}

.artisax-text-box {
    font-weight: 300;
    font-size: 24px;
    line-height: 1,20;
    color: #FFFFFF;
}

.body {
    background: #202023;
}

.body {
    font-family: 'Inter';
}
.header-link {
    text-decoration: none;
}
ul {
    list-style: none;
}
